* {
  box-sizing: border-box;
}

:root {
  --element-background-color: hsl(0, 0%, 100%);
  --primary-background-color: hsl(0, 0%, 95%);
  --text-color: hsl(200, 15%, 8%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: var(--element-background-color);
  align-items: center;
  padding: 0 70px;
}

nav h2 {
  font-size: 18px;
}

nav i,
p {
  display: inline-block;
  vertical-align: middle;
}
nav p {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

main {
  background-color: var(--primary-background-color);
}

#search-filter-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 70px;
  max-width: 1400;
}

#countries-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
  max-width: 1400;
  flex-wrap: wrap;
}

#country {
  flex: 0 0 auto;
  max-width: 200px;
  background-color: var(--element-background-color);
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-radius: 5px;
}

#country img {
  width: 100%;
  height: 55%;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#country h2 {
  font-size: 14px;
  font-weight: 800;
  margin-left: 16px;
}

#country p {
  font-size: 11px;
  display: block;
  line-height: 17px;
  margin: 0 0 0 16px;
}

#country span {
  font-weight: 600;
}

#country-detail-page {
  background-color: var(--primary-background-color);
}

#country-detail-page h1 {
  margin: 0;
}

#country-detail-page p {
  display: block;
}
