* {
  box-sizing: border-box;
}

:root {
  --element-background-color: hsl(0, 0%, 100%);
  --primary-background-color: hsl(0, 0%, 95%);
  --text-color: hsl(200, 15%, 8%);
  --left-right-margin: 60px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 68px;
  background-color: var(--element-background-color);
  align-items: center;
  padding: 0 var(--left-right-margin);
}

nav h2 {
  font-size: 18px;
}

nav i,
p {
  display: inline-block;
  vertical-align: middle;
}
nav p {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

main {
  background-color: var(--primary-background-color);
  height: 100%;
}

#search-filter-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 var(--left-right-margin);
  max-width: 1400;
}

.search-container {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 350px; /* Set maximum width */
  width: 350px;
  height: 45px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border-radius: 5px;
}

.search-input {
  border: none;
  background-color: var(--element-background-color);
  color: var(--text-color);
  font-size: 11px;
  outline: none;
}

.search-icon {
  font-size: 12px;
  padding: 0 25px;
}

.filter-option {
  height: 45px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border-radius: 5px;
}

#countries-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--left-right-margin);
  max-width: 1400;
  flex-wrap: wrap;
}

#country {
  flex: 0 0 auto;
  max-width: 200px;
  background-color: var(--element-background-color);
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-radius: 5px;
}

#country img {
  width: 100%;
  height: 55%;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#country h2 {
  font-size: 14px;
  font-weight: 800;
  margin-left: 16px;
}

#country p {
  font-size: 11px;
  display: block;
  line-height: 17px;
  margin: 0 0 0 16px;
}

#country span {
  font-weight: 600;
}

#country-detail-button-area {
  background-color: var(--primary-background-color);
  padding-left: var(--left-right-margin);
  padding-top: 60px;
  padding-bottom: 60px;
}

#country-detail-back {
  background-color: var(--element-background-color);
  color: var(--text-color);
  padding: 7px 30px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

#country-detail-page {
  background-color: var(--primary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--left-right-margin);
}

#country-detail-img-wrapper {
  width: 425px; /* Set the width of the container */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  overflow: hidden; /* Hide any overflow */
}

#country-detail-page img {
  width: 100%;
  height: auto;
}

#country-detail-info {
  width: 475px;
  padding-left: 20px;
}

#country-detail-info p,
#country-detail-info h2 {
  margin: 0;
  padding: 0;
}

#country-detail-info p {
  font-size: 11px;
  line-height: 22px;
  display: block;
  margin: 0;
  padding: 0;
}

#country-detail-info span {
  font-weight: 600;
}

#country-detail-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.country-detail-column {
  width: 200px;
}

#country-detail-borders {
  margin-top: 40px;
  font-size: 11px;
}

#border-button {
  font-size: 11px;
  min-width: 100px;
  margin: 2px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border: none;
}
