* {
  box-sizing: border-box;
}

:root {
  --element-background-color: hsl(0, 0%, 100%);
  --primary-background-color: hsl(0, 0%, 95%);
  --text-color: hsl(200, 15%, 8%);
  --left-right-margin: 60px;
  --left-right-margin-mobile: 20px;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  height: 68px;
  background-color: var(--element-background-color);
  align-items: center;
  padding: 0 var(--left-right-margin-mobile);
}

nav h2 {
  font-size: 14px;
}

nav i,
p {
  display: inline-block;
  vertical-align: middle;
}
nav p {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

/* nav styles for desktop */

@media (min-width: 768px) {
  nav {
    padding: 0 var(--left-right-margin);
  }
  nav h2 {
    font-size: 18px;
  }
}

main {
  background-color: var(--primary-background-color);
  height: 100%;
}

#search-filter-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  margin: 0 var(--left-right-margin-mobile);
  max-width: 1400;
}

.search-container {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 350px; /* Set maximum width */
  width: 100%;
  height: 45px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.search-input {
  border: none;
  background-color: var(--element-background-color);
  color: var(--text-color);
  font-size: 11px;
  outline: none;
}

.search-icon {
  font-size: 12px;
  padding: 0 25px;
}

/* Search styles for desktop */

@media (min-width: 768px) {
  #search-filter-wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 var(--left-right-margin);
    padding: 40px 0;
  }
  .search-container {
    width: 350px;
  }
}

#filter {
  position: relative;
}

#filter-select {
  background-color: var(--element-background-color);
  color: var(--text-color);
  height: 45px;
  width: 150px;
  border-radius: 5px;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
  #filter-select {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#filter-select p,
i {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

#filter-options {
  list-style: none;
  margin: 4px 0 0 0;
  width: 150px;
  padding: 15px 20px;
  position: absolute;
  border-radius: 5px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.filter-option {
  color: var(--text-color);
  font-size: 11px;
  line-height: 17px;
  cursor: pointer;
}

.filter-option:hover {
  font-weight: 900;
}

#countries-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#country {
  flex: 0 0 auto;
  max-width: 250px;
  background-color: var(--element-background-color);
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#country img {
  width: 250px;
  height: 150px;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#country h2 {
  font-size: 18px;
  font-weight: 800;
  margin-left: 20px;
}

#country p {
  font-size: 14px;
  line-height: 25px;
  display: block;
  margin: 0 0 0 20px;
}

#country span {
  font-weight: 600;
}

/* Country styles for desktop */

@media (min-width: 786px) {
  #countries-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 var(--left-right-margin);
    max-width: 1400;
    flex-wrap: wrap;
  }
  #country {
    max-width: 200px;
    margin-bottom: 60px;
    padding-bottom: 30px;
  }
  #country img {
    width: 200px;
    height: 120px;
  }
  #country h2 {
    font-size: 14px;
    margin-left: 16px;
  }
  #country p {
    font-size: 11px;
    line-height: 17px;
    margin: 0 0 0 16px;
  }
}

#country-detail-button-area {
  background-color: var(--primary-background-color);
  padding-left: var(--left-right-margin-mobile);
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (min-width: 786px) {
  #country-detail-button-area {
    padding-left: var(--left-right-margin);
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

#country-detail-back {
  background-color: var(--element-background-color);
  color: var(--text-color);
  padding: 7px 30px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

#country-detail-page {
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--left-right-margin-mobile);
  height: 100vh;
}

@media (min-width: 786px) {
  #country-detail-page {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 var(--left-right-margin);
  }
}

#country-detail-img-wrapper {
  width: 425px; /* Set the width of the container */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  overflow: hidden; /* Hide any overflow */
}

#country-detail-page img {
  width: 100%;
  height: auto;
}

#country-detail-info {
  width: 475px;
  max-width: 100%;
}

@media (min-width: 786px) {
  #country-detail-info {
    padding-left: 20px;
  }
}

#country-detail-info h2 {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 18px;
}

@media (min-width = 786px) {
  #country-detail-info h2 {
    margin: 0;
    font-size: 24px;
  }
}

#country-detail-info p {
  font-size: 11px;
  line-height: 22px;
  display: block;
  margin: 0;
  padding: 0;
}

#country-detail-info span {
  font-weight: 600;
}

#country-detail-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
}

@media (min-width: 786px) {
  #country-detail-info-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

.country-detail-column {
  width: 200px;
}

#country-detail-borders {
  margin-top: 20px;
  font-size: 12px;
}

@media (min-width: 786px) {
  #country-detail-borders {
    margin-top: 40px;
    font-size: 11px;
  }
}

#border-button {
  font-size: 11px;
  min-width: 100px;
  margin: 2px;
  background-color: var(--element-background-color);
  color: var(--text-color);
  border: none;
  box-shadow: var(--box-shadow);
}
